<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
        <ion-buttons end>
            <button outline (click)="openUrl('http://blog.khophi.co')">
                Visit Website
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="spinner" *ngIf="!posts.length">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
        <button ion-item (click)="detailPage(post);" *ngFor="let post of posts" text-wrap>
            <ion-thumbnail item-left>
                <img [src]="post.thumbnail" *ngIf="post.thumbnail">
            </ion-thumbnail>
            <h2 [innerHTML]="post.title"></h2>
            <h3 [innerHTML]="post.author.name"></h3>
            <div [innerHTML]="post.date"></div>
            <button clear item-right>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </button>
    </ion-list>
</ion-content>
