<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>About our Doctors</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="spinner" *ngIf="!doctors.length">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
        <button ion-item (click)="detailPage(doctor);" *ngFor="let doctor of doctors">
            <ion-thumbnail item-left>
                <img [src]="doctor.thumbnail">
            </ion-thumbnail>
            <h2 [innerHTML]="doctor.name"></h2>
            <h3 [innerHTML]="doctor.company"></h3>
            <p [innerHTML]="doctor.about"></p>
            <button clear item-right>
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </button>
    </ion-list>
</ion-content>
